---

# **Python Project: Super Cashier**

**Super Cashier** is a Python-based self-service cashier system designed for berbelanja di sebuah supermarket secara online. The program enables customers to add, update, and manage their shopping cart before finalizing payment. It also keeps a transaction record that can later be used by supermarket management for bookkeeping purposes and popular item analytics.

---

# Explore Super Cashier: Try it Yourself!

---

In [ ]:
# Run this first to kickstart the program

from cashier import Transaction
from tabulate import tabulate
from re import sub

trx = Transaction()

In [ ]:
# To repeatedly input items to the shopping cart

trx.add_item()

In [ ]:
# To update name, quantity, or price of an existing item

trx.update_item()

In [ ]:
# To delete a specific item from the cart

trx.delete_item()

In [ ]:
# To clear all items in the cart

trx.reset_transaction()

In [ ]:
# To display all current items in the cart

trx.check_order()

In [ ]:
# To calculate the total cost, applies discount, and processes payment confirmation

trx.total_price()

In [ ]:
# To access the transaction records

print(Transaction.bookkeeping)

---

# **Test Cases: You can also try the scenarios below!**

In [ ]:
# Run this first to kickstart the program

from tabulate import tabulate
from re import sub

trx = Transaction()

---

### **Test 1:**

The customer wants to use `add_item()` to add 3 new items as follows:

 - Item name: Fried Chicken, Qty: 2, Price: 20000

 - Item name: Toothpaste, Qty: 3, Price: 15000

 - Item name: Instant Noodles, Qty: 5, Price: 3000

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: Fried Chicken

Enter quantity using numbers only. Example: 6
  Item quantity: 2

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: 20000


Item 'fried chicken' has been successfully added to your cart.

+---------------+------------+--------------+---------------+
| Item          |   Quantity |   Unit Price |   Total Price |
+===============+============+==============+===============+
| fried chicken |          2 |        20000 |         40000 |
+---------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: TOOTHPASTE

Enter quantity using numbers only. Example: 6
  Item quantity: 3pcs

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: 15000


Item 'toothpaste' has been successfully added to your cart.

+------------+------------+--------------+---------------+
| Item       |   Quantity |   Unit Price |   Total Price |
+============+============+==============+===============+
| toothpaste |          3 |        15000 |         45000 |
+------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: InsTANT NOODLe555

Enter quantity using numbers only. Example: 6
  Item quantity: 5

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: Rp3000


Item 'instant noodle' has been successfully added to your cart.

+----------------+------------+--------------+---------------+
| Item           |   Quantity |   Unit Price |   Total Price |
+================+============+==============+===============+
| instant noodle |          5 |         3000 |         15000 |
+----------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.check_order()

Current contents of your cart:

+-------+----------------+------------+--------------+---------------+
|   No. | Item           |   Quantity |   Unit Price |   Total Price |
+=======+================+============+==============+===============+
|     1 | fried chicken  |          2 |        20000 |         40000 |
+-------+----------------+------------+--------------+---------------+
|     2 | toothpaste     |          3 |        15000 |         45000 |
+-------+----------------+------------+--------------+---------------+
|     3 | instant noodle |          5 |         3000 |         15000 |
+-------+----------------+------------+--------------+---------------+

Please check your cart before proceeding to checkout. Use 'update_item()' if needed.

If everything looks good, use 'total_price()' to complete your purchase.

---

### **Test 2:**

The customer made a mistake and wants to use `delete_item()` to remove Toothpaste.

In [ ]:
trx.delete_item()

Which item do you want to remove?
Toothpaste

Are you sure you want to remove 'toothpaste'?
(yes / no)
yes

Item 'toothpaste' has been removed from your cart.

Current contents of your cart:

+-------+----------------+------------+--------------+---------------+
|   No. | Item           |   Quantity |   Unit Price |   Total Price |
+=======+================+============+==============+===============+
|     1 | fried chicken  |          2 |        20000 |         40000 |
+-------+----------------+------------+--------------+---------------+
|     2 | instant noodle |          5 |         3000 |         15000 |
+-------+----------------+------------+--------------+---------------+

---

### **Test 3:**

The customer entered the shopping items incorrectly and wants to empty the cart at once using `reset_transaction()` instead of deleting items one by one.

In [ ]:
trx.reset_transaction()

Are you sure you want to clear all items in your cart?

If you choose 'yes', all items will be permanently deleted.
(yes / no)
yes

Your cart has been successfully cleared.

Use 'add_item()' to add new items.

In [ ]:
trx.check_order()

Your cart is empty. Use 'add_item()' to add products.

---

### **Test 4:**

**4.1.** The customer re-enters the shopping items using `add_item()`:
 - Item name: Fried Chicken, Qty: 2, Price: 20000
 - Item name: Toothpaste, Qty: 3, Price: 15000
 - Item name: Instant Noodles, Qty: 5, Price: 3000
 - Item name: Toy Car, Qty: 1, Price: 200000

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: Fried Chicken

Enter quantity using numbers only. Example: 6
  Item quantity: 2

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: 20000


Item 'fried chicken' has been successfully added to your cart.

+---------------+------------+--------------+---------------+
| Item          |   Quantity |   Unit Price |   Total Price |
+===============+============+==============+===============+
| fried chicken |          2 |        20000 |         40000 |
+---------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: Toothpaste

Enter quantity using numbers only. Example: 6
  Item quantity: 3

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: 15000


Item 'toothpaste' has been successfully added to your cart.

+------------+------------+--------------+---------------+
| Item       |   Quantity |   Unit Price |   Total Price |
+============+============+==============+===============+
| toothpaste |          3 |        15000 |         45000 |
+------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: Instant Noodle

Enter quantity using numbers only. Example: 6
  Item quantity: 5

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: 3000


Item 'instant noodle' has been successfully added to your cart.

+----------------+------------+--------------+---------------+
| Item           |   Quantity |   Unit Price |   Total Price |
+================+============+==============+===============+
| instant noodle |          5 |         3000 |         15000 |
+----------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.add_item()

Ensure no typo when entering item name.
  Item name: Toy Car

Enter quantity using numbers only. Example: 6
  Item quantity: 1

Enter item price using numbers only, no thousand separators. Example: 20000
  Unit price: 200000


Item 'toy car' has been successfully added to your cart.

+---------+------------+--------------+---------------+
| Item    |   Quantity |   Unit Price |   Total Price |
+=========+============+==============+===============+
| toy car |          1 |       200000 |        200000 |
+---------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.


**4.2.** The customer checks the cart contents with `check_order()` and realizes **the name "Fried Chicken" was misspelled**.

In [ ]:
trx.check_order()

Current contents of your cart:

+-------+----------------+------------+--------------+---------------+
|   No. | Item           |   Quantity |   Unit Price |   Total Price |
+=======+================+============+==============+===============+
|     1 | fried chicken  |          2 |        20000 |         40000 |
+-------+----------------+------------+--------------+---------------+
|     2 | toothpaste     |          3 |        15000 |         45000 |
+-------+----------------+------------+--------------+---------------+
|     3 | instant noodle |          5 |         3000 |         15000 |
+-------+----------------+------------+--------------+---------------+
|     4 | toy car        |          1 |       200000 |        200000 |
+-------+----------------+------------+--------------+---------------+

Please check your cart before proceeding to checkout. Use 'update_item()' if needed.

If everything looks good, use 'total_price()' to complete your purchase.

**4.3.** The customer updates the name from "Fried Chicken" to "Grilled Chicken" via `update_item()`, then runs `check_order()` again.

In [ ]:
trx.update_item()

Which item detail would you like to update?
(name / quantity / price)
name

Item name: fried Chicken
Enter new item name: Grilled Chicken

Item name 'fried chicken' has been changed to 'grilled chicken'.

+-----------------+------------+--------------+---------------+
| Item            |   Quantity |   Unit Price |   Total Price |
+=================+============+==============+===============+
| grilled chicken |          2 |        20000 |         40000 |
+-----------------+------------+--------------+---------------+

Please review the item details above.

Use 'update_item()' if you need to make corrections.

In [ ]:
trx.check_order()

Current contents of your cart:

+-------+-----------------+------------+--------------+---------------+
|   No. | Item            |   Quantity |   Unit Price |   Total Price |
+=======+=================+============+==============+===============+
|     1 | toothpaste      |          3 |        15000 |         45000 |
+-------+-----------------+------------+--------------+---------------+
|     2 | instant noodle  |          5 |         3000 |         15000 |
+-------+-----------------+------------+--------------+---------------+
|     3 | toy car         |          1 |       200000 |        200000 |
+-------+-----------------+------------+--------------+---------------+
|     4 | grilled chicken |          2 |        20000 |         40000 |
+-------+-----------------+------------+--------------+---------------+

Please check your cart before proceeding to checkout. Use 'update_item()' if needed.

If everything looks good, use 'total_price()' to complete your purchase.

**4.4.** The customer checks the total payment due using `total_price()` and finalizes the payment.

In [ ]:
trx.total_price()

+-----------------------+---------------+
| Total before discount | Rp 300.000,00 |
+-----------------------+---------------+
| Discount              |  Rp 15.000,00 |
+-----------------------+---------------+
| Total after discount  | Rp 285.000,00 |
+-----------------------+---------------+

Proceed with payment of Rp 285.000,00?
(yes / no)
yes

Thank you! Your payment was successful. Your order will be processed shortly.

**4.5.** After the transaction, the admin can review the transaction record stored in `Transaction.bookkeeping` for bookkeeping and popular item analytics.

In [ ]:
print(Transaction.bookkeeping)

{'Customer 1': {'No.': [1, 2, 3, 4], 'Item': ['toothpaste', 'instant noodle', 'toy car', 'grilled chicken'], 'Quantity': [3, 5, 1, 2], 'Unit Price': [15000, 3000, 200000, 20000], 'Total Price': [45000, 15000, 200000, 40000]}}